<h1>list detail</h1>
<h2>List Name: <%= @list.name %></h2>
<ul>
  <% @list.bookmarks.each do |bookmark|%>
    <li> <%= bookmark.movie.title %> </li>
    <%= link_to "Delete",
            bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>
<%= link_to "Add new movie", new_list_bookmark_path(@list) %>
<%= link_to "Back to all lists", lists_path %>
